<!DOCTYPE html>
<html ng-app="angular-custom-select-examples">
  
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Angular Custom Select</title>
    <link rel="stylesheet" type="text/css" href="css/example.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  
  <body ng-controller="ExamplesController" ng-class="{ initialized: initialized }">

    <div id="wrapper">

      <a class="view-on-github"
        href="https://github.com/nickcherryjiggz/angular-custom-select" target="_blank">
        View on GitHub
      </a>

      <h1>
        angular-custom-select demo
      </h1>

      <section class="example-1">
        <h2>String Example</h2>
        <custom-select
          ng-model="selectedValues.string"
          ng-options="string for string in strings"
          placeholder="Select one of these string values...">
        </custom-select>
        <div class="selected-value">
          Selected Value: {{ selectedValues.string || 'N/A' }}
        </div>
        <div class="gist-wrapper" ng-non-bindable>
          <script src="https://gist.github.com/nickcherryjiggz/27f0862beefacbcdc4c2.js"></script>
        </div>
      </section>

      <section class="example-2">
        <h2>Object Example</h2>
        <custom-select
          ng-model="selectedValues.object"
          ng-options="object as object.name for object in objects"
          placeholder="Select one of these object values..."
          disabled-attribute="disabled">
        </custom-select>
        <div class="selected-value">
          Selected Value: {{ selectedValues.object || 'N/A' }}
        </div>
        <div class="gist-wrapper" ng-non-bindable>
          <script src="https://gist.github.com/nickcherryjiggz/30f773265db349c93049.js"></script>
        </div>
      </section>

    </div>
    
    <script src="js/example.js"></script>

  </body>
</html>