/*****************************************************************/
/* Imports */
/*****************************************************************/

@import "../../bower_components/normalize-scss/normalize.scss";


/*****************************************************************/
/* Settings */
/*****************************************************************/

/* Colors */
$black: #000000;
$blue: #0abaee;
$light-grey: #f4f4f4;
$grey: #e8e8e8;
$pink: #ea1f4a;
$white: #ffffff;

/* Dimensions */
$custom-select-height: 50px;


/*****************************************************************/
/* Example Page */
/*****************************************************************/

body {
  background-color: $white;
  color: $black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 24px;
  opacity: 0;
  padding: 0;
  transition: opacity 0.25s ease-out 0s;
}

body.initialized {
  opacity: 1;
}

#wrapper {
  margin: auto;
  min-width: 300px;
  position: relative;
  width: 67%;
}

section {
  border-bottom: 1px solid $grey;
  margin-top: 32px;
  padding-bottom: 32px;
  &:first-of-type {
    border-top: 1px solid $grey;
    margin-top: 0;
    padding-top: 32px;
  }
}

h1 {
  a {
    color: $pink;
    font-size: 30px;
    margin-bottom: 32px;
    text-decoration: none;
  }
}

h2 {
  margin: 0 auto 12px;
}

.selected-value {
  margin-top: $custom-select-height + 24px;
}

.gist {
  margin-top: 28px;
}

.example-1 .custom-select { z-index: 150; }
.example-2 .custom-select { z-index: 149; }


/*****************************************************************/
/* Custom Select */
/*****************************************************************/

.custom-select {
  
  border: 1px solid $blue;
  font-size: 18px;
  left: 0;
  max-height: $custom-select-height - 1px;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: max-height 0.28s linear 0s;

  &.expanded {
    max-height: $custom-select-height * 6;
  }

  .option {

    background-color: $white;
    border-bottom: 1px solid $grey;
    color: $black;
    cursor: pointer;
    height: $custom-select-height - 1px;
    position: relative;
    transition: all 0.1s linear 0s;

    .value {
      display: block;
      padding: 12px 12px 0;
    }

    &:last-of-type {
      border: none;
    }
    
    &:hover {
      background-color: $blue;
    }

    &.disabled {
      background-color: $black;
      color: $grey;
    }

    &.placeholder {
      background-color: $blue;
      color: $white;
      &:hover {
        background-color: lighten($blue, 7%);
      }
    }

  }

  @media screen and (max-width: 400px) {
    font-size: 16px;
    .option .value {
      padding-top: 14px;
    }
  }

}
